


/*where your imgs will go*/

.col1 {
    background-image: url(assets/img/pic1.png);
    background-repeat: none;
    background-size: cover;
}
.col2 {
    background-image: url(assets/img/pic2.png);
    background-repeat: none;
    background-size: cover;
}
.col3 {
    background-image: url(assets/img/pic3.png);
    background-repeat: none;
    background-size: cover;
}

/*this will be the hover animation w/text*/
.hovertext {
    background: rgb(49, 4, 90);
    opacity: 0;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    height:300px;
}

.hovertext:hover {
    opacity: 1;

}